/*general elements*/
body{
  background: linear-gradient(to right, black, rgb(0, 60, 0));
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
}
.back{
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw; 
  top: 7vh;
  left: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
.title {
  font-size: 10vw;
  text-shadow: 0 0 5px rgb(175, 175, 175); 
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  margin: 5vh 0 0;
}
/*home menu*/
#buttons{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
  transform: translate(-50%, -50%);
}
.menubuttons {
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  margin: 10px;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw;
  height: auto;
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
/*customization menu*/
.option1:hover, .option2:hover, .option3:hover{
  background-color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  height: 40vh;
  width: 15vw;
}
.character-image1 {
  width: 10vw;
  height: auto;
  top: 20vh;
  left: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
}
.character-image2 {
  width: 10vw;
  height: auto;
  top: 20vh;
  left: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
}
.character-image3 {
  width: 10vw;
  height: auto;
  top: 20vh;
  left: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
}
.option1{
  background-color: transparent;
  color: transparent;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  top: 50vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  height: 40vh;
  width: 15vw;
}
.option2{
  background-color: transparent;
  color: transparent;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  top: 50vh;
  left: 80vw;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  height: 40vh;
  width: 15vw;
}
.option3{
  background-color: transparent;
  color: transparent;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  top: 50vh;
  left: 20vw;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  height: 40vh;
  width: 15vw;
}

#result {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
/*credits menu*/

.text{
  font-size: 2vw;
  text-shadow: 0 0 5px rgb(100, 100, 100); 
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  margin: 5vh 0 0;
}
/*extra*/
.hide {
  display: none;
}
.top {
  margin-top: 10vh;
}
.center {
  margin-top: 50vh;
}