/*general elements*/
body{
  background: linear-gradient(to top, rgb(170, 255, 0), rgb(0, 0, 255));
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
.back{
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw; 
  top: 7vh;
  left: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
.title {
  font-size: 10vw;
  text-shadow: 0 0 5px rgb(175, 175, 175); 
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  margin: 5vh 0 0;
}
/*home menu*/
#buttons{
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  width: auto;
}
#buttons ul {
  list-style-type: none;
  padding: 0;
}
#buttons li {
  list-style-type: none;
}
#buttons li{
  list-style-type: none;
}

.menubuttons {
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  margin: 10px;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw;
  height: auto;
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
/*customization menu*/
.customize-menu {
  margin-top: 11.5vh;
}
#character-options {
  display: flex;
  justify-content:space-around;
  list-style-type:none;
  align-items: center;
  margin-top: 4vh;
}
#character-options li {
  display: inline;
  justify-content:space-around;
}
.optionbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  padding-top: 4vw;
  text-align: center;
}
.optionbutton img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1vw auto 0;
}
.option1:hover, .option2:hover, .option3:hover{
  background-color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  height: 40vh;
  width: 15vw;
}
.options{
  background-color: transparent;
  color: transparent;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  top: 50vh;
  height: 40vh;
  width: 15vw;
}
#result {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
/*credits menu*/
.text{
  font-size: 2vw;
  text-shadow: 0 0 5px rgb(100, 100, 100); 
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  margin: 5vh 0 0;
}
/*extra*/
.hide {
  display: none;
}
.top {
  margin-left: 10vw;
  margin-top: 10vh;
}
.middle {
  margin-left: 50vw;
  margin-top: 90vh;
}
.center {
  margin-left: 10vw;
  margin-top: 50vh;
}