/*general elements*/
body{
  background: linear-gradient(to top, rgb(170, 255, 0), rgb(0, 0, 255));
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
.back{
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw; 
  top: 7vh;
  left: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
.title {
  font-size: 10vw;
  text-shadow: 0 0 5px rgb(175, 175, 175); 
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  margin: 5vh 0 0;
}
/*background image*/
.background-home {
  background: linear-gradient(to top, rgb(170, 255, 0), rgb(0, 0, 255));
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
.background-play {
  background-image: url('../images/background_mario - kopie.png');
  background-size: cover;
  background-position-y: bottom;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
.background-customize {
  background: linear-gradient(to top, rgb(170, 255, 0), rgb(0, 0, 255));
  margin-top: -5vh;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
.background-credits {
  background: linear-gradient(to top, rgb(170, 255, 0), rgb(0, 0, 255));
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
/*home menu*/
#buttons{
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  width: auto;
  top: 0;
}
#buttons ul {
  list-style-type: none;
  padding: 0;
}
#buttons li {
  list-style-type: none;
}
#buttons a {
  text-decoration: none;
  height: auto;
  display: block;
}
.menubuttons {
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  margin: 10px;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw;
  height: 4.3vw;
  text-shadow: 0 0 5px rgb(175, 175, 175);
  position: relative;
}
/*play menu*/
.play-image {
  position: absolute;
  display: block;
  max-width: 100%;
  height: 25vh;
  bottom: 7vh;
  left: 2vw;
}
#enemy-image {
  position: absolute;
  display: block;
  max-width: 100%;
  height: 25vh;
  bottom: 7vh;
  right: 3vw;
}
#timing-button{
  border: 0.2vw solid black;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  position: absolute;
}
.timing-button-red{
  background-color: red;
}
.timing-button-green{
  background-color: green;
}
/*customization menu*/
#character-options {
  display: flex;
  justify-content:space-around;
  list-style-type:none;
  align-items: center;
  margin-top: 20vh;
}
#character-options li {
  display: inline;
  justify-content:space-around;
}
.optionbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  padding-top: 4vw;
  text-align: center;
}
.optionbutton img {
  display: block;
  max-width: 100%;
  height: 25vh;
  margin: 1vw auto 0;
}
.option1:hover, .option2:hover, .option3:hover{
  background-color: white;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  height: 40vh;
  width: 15vw;
}
.options{
  background-color: transparent;
  color: transparent;
  border: 0.2vw solid white;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  top: 50vh;
  height: 40vh;
  width: 15vw;
}
#result {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 5px rgb(175, 175, 175);
}
/*credits menu*/
.text{
  font-size: 2vw;
  text-shadow: 0 0 5px rgb(100, 100, 100); 
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  margin: 5vh 0 0;
}
/*extra*/
.hide {
  display: none;
}
.top {
  margin-left: 8vw;
  margin-top: 5.6vh;
  transform: translate(-50%, -50%); 
}
.middle {
  margin-left: 50vw;
  margin-top: 90vh;
}
.center {
  margin-left: 10vw;
  margin-top: 50vh;
}
#timing-button{
  border: 0.2vw solid black;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.timing-button-red{
  background-color: red;
}
.timing-button-green{
  background-color: green;
}
