.background-died {
  background: linear-gradient(to right, #363636, #555555, #363636);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-Y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.5;
}
#play-again {
top: 60%;
left: 50%;
}
#menu {
top: 70%; 
left: 50%;
}
.you-died {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 10px rgb(192, 0, 0);
}
.wasted-buttons{
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  width: auto;
  align-items: center;
  padding: 14px;
}
#buttons ul {
  list-style-type: none;
  padding: 0;
}
#buttons li {
  list-style-type: none;
}
#buttons a {
  text-decoration: none;
  height: auto;
  display: block;
}
.menubuttons {
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  margin: 10px;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 1em;
  align-items: center;
  width: 15vw;
  height: 4.3vw;
  text-shadow: 0 0 5px rgb(175, 175, 175);
}